<div class="container">
	<div class="row">
		<h1>Grupos</h1>
		<div class="col-6 example-container">

			<input type="text" class="form-control" name="filterGroup" placeholder="Buscar..." [(ngModel)]="filterGroups">

			<div
				cdkDropList
				#employeeList="cdkDropList"
				[cdkDropListData]="grupos"
				[cdkDropListConnectedTo]="[groupList]"
				class="example-list"
				(cdkDropListDropped)="drop($event)">

				<div class="example-box" *ngFor="let grupo of grupos | filtroGrupos:filterGroups" cdkDrag>
					{{ grupo.id }}
					{{ grupo.name }}
				</div>
			</div>
		</div>

		<div class="col-6 example-container containerOfEmployees">
			<div
				cdkDropList
				#groupList="cdkDropList"
				[cdkDropListData]="employees"
				[cdkDropListConnectedTo]="[employeeList]"
				class="example-list"
				(cdkDropListDropped)="drop($event)">
				
				<div class="containerEmployees" cdkDrag>

					<div *ngIf="!nameOfGroup">
						<h4>
							Arrastra un grupo
						</h4>
					</div>
					<div *ngIf="employeesEmpty">
						<p class="alert-danger">
							No se encontrarón empleados en ese grupo.
						</p>
					</div>


					<div class="nameOfGroup">
						<div class="containerSelectedGroup">
							<span *ngIf="nameOfGroup" class="example-list-section">
								<mat-checkbox class="example-margin"
									
									[color]="'primary'"
									[(ngModel)]="selectedAll"
									(change)="selectAll();"
									>
									Seleccionar todos los empleados del grupo: {{ nameOfGroup }}
								</mat-checkbox>
							</span>
						</div>
						

											  
						<section class="example-section">
							<span class="example-list-section">
								<ul>
									<li *ngFor="let employee of employees">
										<mat-checkbox
											[(ngModel)]="employee.completed"
											[(ngModel)]="employee.selected"
											(change)="checkIfAllSelected();"
											value={{employee.name}}
											>
											{{employee.name}}
										</mat-checkbox>
									</li>
								</ul>
							</span>
						</section>
					</div>
					<div class="row justify-content-between">
						<div class="col-5">
							<button *ngIf="nameOfGroup" (click)="printAllSelected()">
								Continuar
							</button>
						</div>
						<div class="col-5">
							<button *ngIf="nameOfGroup" (click)="deleteGroupSelected()">
								Eliminar grupo
							</button>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
</div>